.modal .modal-header {
    background-color: #0d6efd;
    color: #fff;
}

.icon-btn {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
}

.icon-btn:hover {
    color: #0d6efd;
}
