@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oops!</h1>
<p class="lead">An unexpected error has occurred.</p>
@if (Model?.ShowRequestId == true)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
